.table_row {
	color:black;
}

.table_row:hover{
	color:gray;
}

.table_content {
	border:1px solid black;
}

#flash {
    background: #ffc;
    padding: 5px;
    border: 1px dotted #000;
    margin-bottom: 20px;
}
#flash p { margin: 0px; padding: 0px; }

#lastsuntil { 
	border: 1px dashed black;
	background: #ffc;
}

#actions { border-bottom:1px solid black; }
#menu { border-bottom: 2px solid black; }
